/* @media (min-width: 1200px) {
    stage > .stage {
        padding: 0 10%;
    }
} */

body {
    margin: 0;
    background-color: papayawhip;
}

starting-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("leader.jpg");
    background-size: cover;
    background-position: center center;
}

stage {
    box-sizing: border-box;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    min-width: 98vw;
    min-height: 100vh;
}

result-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("achievement.jpg");
    background-size: cover;
    background-position: center center;
}

stage > .stage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

starting-page > .sign-in {
    background-color: white;
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.42);
    border: 1px solid rebeccapurple;
    padding: 1rem;
}

starting-page > .sign-in > .header {
    margin: 0.5rem 2em 0.5rem 2em;
    font-size: 2rem;
    line-height: 1.2em;
    text-align: center;
    color: rebeccapurple;
    font-weight: bold;
    transition: font-size 1s ease-in-out 0s, font-weight 0.5s ease 0s;
}

starting-page > .sign-in > .header.name-is-set {
    font-size: 1.6rem;
    font-weight: normal;
}

starting-page > .sign-in > .subtitle {
    margin: 1rem 0 2.5rem 0;
    font-size: 1.6rem;
    line-height: 1em;
    text-align: center;
    color: rebeccapurple;
    /* font-weight: bold; */
}

starting-page > .sign-in > .footer {
    margin: .5rem 0;
}

starting-page .sign-in .game-option {
    margin-right: 2rem;
}

.map {
    position: relative;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

geo > .geo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* background-color: black;
    opacity: .5; */
}

.region {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* background-color: lavender; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.region-name.matched {
    color: lightgray;
}

stage > .stage > .map {
    box-sizing: border-box;
    flex: 0 0 auto;
}

stage > .stage > .name-list {
    box-sizing: border-box;
    padding: 10px;
    background-color: whitesmoke;
    border: .2rem solid skyblue;
    border-radius: 10px;
    /* margin: 0 10px; */
    flex: 0 0 auto;
    /* align-self: start; */
    font-size: 1.4rem;
}

stage > .info {
    margin: .5rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    height: 1em;
}

stage > .info > .timer {
    margin: 0 2rem;
    min-width: 5rem;
}

result-page > .score {
    -webkit-text-stroke: 1px whitesmoke;
    font-size: 6rem;
    color: indianred;
    font-weight: bold;
    margin: 0 0 2rem 0;
    text-shadow:
        3px 3px 0 whitesmoke,
        -1px -1px 0 whitesmoke,  
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
}

region-label {
    display: block;
    cursor: pointer;
    margin: 0.4em 0;
}